<div class="item">
  <img [src]="img" [alt]="title">
  <button class="toggle-icon" [class.-checked]="checked" (click)="clickFav()" title='Marcar "{{title}}" como favorito'></button>
  <h3>{{title}}</h3>
  <p>135 min</p>
  <div class="stars">
    <i *ngFor='let p of favs' class="fa fa-star"></i>
  </div>
</div>
