app-filme{
  margin-right: 20px;
}
app-filme:nth-child(4){
  margin-right: 0;
}
app-filme:last-child{
  margin-right: 0;
}
app-filme .item{
  margin-top: 40px;
  width: calc(25% - 18px);
  height: 526px;
  display: inline-grid;
}
app-filme:nth-child(4){
  margin-right: 0;
}
app-filme .item img{
  width: 100%;
}
app-filme .item h3{
  font-size: 26px;
  font-family: Poppins, Bold;
  margin: 0;
  height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
app-filme .item p{
  color: #928C8C;
  font-size: 16px;
  font-family: Poppins, Light;
  margin: 0;
}
app-filme .item .stars{
  color: #F98727;
  margin-top: 5px;
}
app-filme .toggle-icon {
  position: relative;
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  float: right;
  margin-top: -40px;
  margin-right: -35px;
  outline: none;
  left: 85%;
}
app-filme .toggle-icon:before, .toggle-icon:after {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease-out;
  content: "";
  font-family: fontawesome;
}
app-filme .toggle-icon:before {
  transform: scale(1);
}
app-filme .toggle-icon:active:before {
  transition: none;
  transform: scale(1.2);
}
app-filme .toggle-icon.-checked:active:before {
  transform: scale(1);
}
app-filme .toggle-icon:after {
  opacity: 0;
}
app-filme .toggle-icon.-checked {
  color: #fff;
}
app-filme .toggle-icon.-checked:before {
  content: "";
}


@media only screen and (max-width: 768px) {
  app-filme .item{
    height: 450px;
    width: calc(33% - 15px);
  }
  app-filme:nth-child(4){
    margin-right: 20px;
  }
  app-filme:nth-child(3){
    margin-right: 0;
  }

  app-filme:nth-child(6){
    margin-right: 0;
  }
  app-filme .toggle-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  app-filme .item {
    height: 365px;
  }
  app-filme .item h3{
    font-size: 3vw;
    height: 50px;
  }
  app-filme .toggle-icon {
    margin-top: -30px;
  }
}

@media only screen and (max-width: 500px) {
  app-filme{
    display: table-cell;
  }
  app-filme .item {
    display: table-cell;
    height: 320px;
    min-width: 140px;
    padding-right: 11px;
    padding-top: 15px
  }
  app-filme:nth-child(5){
    margin-right: 10px;
  }
  app-filme:nth-child(4){
    margin-right: 10px;
  }
  app-filme:nth-child(7){
    margin-right: 10px;
  }
  app-filme .item h3{
    font-size: 3vw;
    height: 50px;
  }
  app-filme .toggle-icon {
    margin-top: -25px;
    margin-right: 130px;
    width: 15px;
    height: 15px;
    font-size: 15px;
  }
}
