<section class="container-filmes">
  <div class="title">{{title}} <span>Ver Mais</span></div>
  <div class="filmes">

    <app-filme *ngFor="let filme of filmes" [title]="filme.title" [img]="filme.img" [checked]="filme.checked" [stars]="filme.stars"></app-filme>

  </div>
</section>
