@charset "UTF-8";

body {
  margin: 0;
  padding-bottom: 75px;
}

.container {
  position: relative;
  max-width: 1114px;
  width: 100%;
  margin-top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  font-family: Poppins, Light;
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  float: left;
  width: 100%;
  z-index: 3;
  background-color: #fff;
  display: none;
  box-shadow: 0 0 20px 0 #635a5a;
  ul {
    color: #928C8C;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  li {
    display: inline-block;
    width: 25%;
    text-align: center;
    i {
      font-size: 20px;
    }
  }
  .active {
    color: #B02721;
  }
}

header {
  font-family: Poppins, Light;
  position: fixed;
  height: 90px;
  left: 0;
  top: 0;
  float: left;
  width: 100%;
  z-index: 3;
  .back {
    opacity: 0;
    background: #fff;
    width: 100%;
    height: 90px;
    position: fixed;
    box-shadow: 2px -1px 20px 0 #dedbdb;
  }
  .menu {
    opacity: 1;
    background: transparent;
    width: 100%;
    height: 90px;
    position: fixed;
    img {
      margin: 22px 30px;
      width: 184.24px;
      &:last-of-type {
        float: right;
        width: 40px;
      }
    }
    ul {
      float: right;
      margin-top: 29px;
      color: #281C1C;
    }
    li {
      display: inline;
      margin-right: 30px;
      font-size: 23px;
      &.active {
        color: #B02721;
      }
    }
  }
}

.container-search {
  height: 307px;
  .bg-search {
    width: 100%;
    height: 238px;
    border-radius: 30px;
    background-image: url(assets/img/bg-search.png);
    background-color: #b02721;
    background-position: center;
    background-size: contain;
    margin-bottom: 0;
    position: fixed;
    margin-top: 69px;
    z-index: 1;
    h1 {
      margin-left: 50px;
      margin-top: 40px;
      margin-bottom: 0;
      color: #fff;
      font-size: 42px;
      font-family: Poppins, Bold;
      animation-name: fadeInLeft;
      animation-duration: 1s;
    }
    h2 {
      margin-left: 50px;
      margin-top: 0;
      font-size: 26px;
      color: #fff;
      font-family: Poppins, Light;
      animation-name: fadeInLeft;
      animation-duration: 1.3s;
    }
  }
  img {
    height: 100%;
    float: right;
    position: relative;
    z-index: 2;
    animation-name: fadeInLeft;
    animation-duration: 1s;
  }
  form {
    margin-left: 50px;
    animation-name: fadeInUp;
    animation-duration: 1s;
  }
  fieldset {
    position: relative;
    display: inline-block;
    padding: 0 0 0 40px;
    background: #fff;
    border: none;
    border-radius: 5px;
    width: 607px;
  }
  form {
    input, button {
      position: relative;
      width: 200px;
      height: 50px;
      padding: 0;
      display: inline-block;
      float: left;
    }
  }
  input {
    color: #000;
    z-index: 2;
    border: 0 none;
  }
  ::placeholder {
    color: #928C8C;
  }
  input {
    &:focus {
      outline: 0 none;
    }
    &[type="search"] {
      &::-webkit-search-decoration, &::-webkit-search-cancel-button, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
        display: none;
      }
    }
  }
  form button {
    z-index: 1;
    width: 50px;
    border: 0 none;
    background: transparent;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transform: translate(-50px, 0);
    transition-duration: 0.3s;
  }
  .loading {
    display: block !important;
  }
  .loader {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: top;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    display: none;
  }
  svg {
    path, rect {
      fill: #B02721;
    }
  }
  .fa-search {
    font-size: 1.4rem;
    color: #B02721;
    z-index: 3;
    top: 25%;
    transform: translate(-190px, 0);
    transition: all 0.1s ease-in-out;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.container-filmes .title {
  width: 98%;
  font-size: 26px;
  border-left: 5px solid #B02721;
  padding: 0 0 0 10px;
  margin-top: 50px;
  font-family: Poppins, Bold;
  font-weight: bold;
  span {
    float: right;
    font-size: 16px;
    color: #B02721;
    font-family: Poppins, Light;
    font-weight: normal;
  }
}

app-filme {
  margin-right: 20px;
  &:nth-child(4), &:last-child {
    margin-right: 0;
  }
  .item {
    margin-top: 40px;
    width: calc(25% - 18px);
    height: 526px;
    display: inline-grid;
  }
  &:nth-child(4) {
    margin-right: 0;
  }
  .item {
    img {
      width: 100%;
    }
    h3 {
      font-size: 26px;
      font-family: Poppins, Bold;
      margin: 0;
      height: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    p {
      color: #928C8C;
      font-size: 16px;
      font-family: Poppins, Light;
      margin: 0;
    }
    .stars {
      color: #F98727;
      margin-top: 5px;
      margin-right: 5px;
    }
  }
  .toggle-icon {
    position: relative;
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color: transparent;
    float: right;
    margin-top: -40px;
    margin-right: -35px;
    outline: none;
    left: 85%;
    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
      transition: all .3s ease-out;
      content: "";
      font-family: fontawesome;
    }
    &:before {
      transform: scale(1);
    }
    &:active:before {
      transition: none;
      transform: scale(1.2);
    }
    &.-checked:active:before {
      transform: scale(1);
    }
    &:after {
      opacity: 0;
    }
    &.-checked {
      color: #fff;
      &:before {
        content: "";
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    display: none;
  }
  footer {
    display: block;
  }
  .container {
    margin-top: 0;
  }
  .container-search {
    margin: 0;
    height: 159px;
    img {
      display: none;
    }
  }
  .bg-search {
    margin-top: 0 !important;
    border-radius: 0 !important;
    margin: 0;
    height: 159px !important;
  }
  form {
    text-align: center;
    margin: 0;
    width: 85% !important;
    margin-left: 50% !important;
    transform: translateX(-50%);
  }
  fieldset {
    width: 92% !important;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: -55px;
  }
  .container-search .bg-search {
    h1 {
      text-align: center;
      width: 100%;
      margin-left: 0;
      font-size: 26px;
    }
    h2 {
      text-align: center;
      width: 100%;
      margin-left: 0;
      font-size: 16px;
    }
  }
  .container-filmes {
    margin: 10px;
  }
  app-filme {
    .item {
      height: 450px;
      width: calc(33% - 15px);
    }
    &:nth-child(4) {
      margin-right: 20px;
    }
    &:nth-child(3), &:nth-child(6) {
      margin-right: 0;
    }
    .toggle-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  app-filme {
    .item {
      height: 365px;
      h3 {
        font-size: 3vw;
        height: 50px;
      }
    }
    .toggle-icon {
      margin-top: -30px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .filmes {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 345px;
    display: -webkit-box;
  }
  app-filme {
    display: table-cell;
    .item {
      display: table-cell;
      height: 320px;
      min-width: 140px;
      padding-right: 11px;
      padding-top: 15px;
    }
    &:nth-child(5), &:nth-child(4), &:nth-child(7) {
      margin-right: 10px;
    }
    .item h3 {
      font-size: 3vw;
      height: 50px;
    }
    .toggle-icon {
      margin-top: -25px;
      margin-right: 130px;
      width: 15px;
      height: 15px;
      font-size: 15px;
    }
  }
}
